@model IEnumerable<denizdikbiyik_CET322_FinalProject.Models.Product>

@{
    ViewData["Title"] = "Ürünler";
}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.js"></script>

<section class="ab-info-main py-md-5">
    <div class="container py-md-3">
        <h5 class="shop_w3 text-capitalize">
            Tüm Ürünler
        </h5>
        <br />
        <p class="shop_w3 text-capitalize">
            Ürünleri sağa doğru çekerek devamını görüntüleyebilirsiniz!
        </p>
        <div id="clothing-nav-content" class="tab-content py-sm-5">
            <div role="tabpanel" class="tab-pane fade show active" id="women" aria-labelledby="women-tab">
                <div id="owl-demo" class="owl-carousel text-center">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-20 mt-lg-0 mt-5 right-product-grid">
                            <div class="item">
                                <!-- card -->
                                <div class="card product-men p-3">
                                    <div class="men-thumb-item">
                                        <img src="~/uploads/@item.ProductImageUrl" alt="img" class="card-img-top">
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro">
                                                <a asp-action="Details" asp-route-id="@item.ProductId" class="link-product-add-cart">İncele</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- card body -->
                                    <div class="card-body  py-3 px-2">
                                        <h5 class="card-title text-capitalize">@Html.DisplayFor(modelItem => item.ProductName)</h5>
                                        <div class="d-flex justify-content-between">
                                            <p class="text-dark font-weight-bold">@Html.DisplayFor(modelItem => item.ProductPrice) TL</p>
                                            <!-- İndirim için yazı örneği -->
                                            @*<p class="line-through">X TL</p>*@
                                        </div>
                                    </div>
                                    <!-- card footer -->
                                    <div class="card-footer d-flex justify-content-end">
                                        <a href="~/ShoppingCarts/AddToBasket?productId=@item.ProductId">
                                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                        </a>
                                        <!-- Sepet için form alternatifi -->
                                        @*<form action="#" method="post">
                                            <input type="hidden" name="cmd" value="_cart">
                                            <input type="hidden" name="add" value="1">
                                            <input type="hidden" name="hub_item" value="@item.ProductName">
                                            <input type="hidden" name="amount" value="@item.ProductPrice">
                                            <button type="submit" class="hub-cart phub-cart btn">
                                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                            </button>
                                            <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                        </form>*@
                                    </div>
                                </div>
                                <!-- //card -->
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}