@model denizdikbiyik_CET322_FinalProject.Models.ShoppingCart

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.js"></script>

<section class="ab-info-main py-md-5">
    <div class="container py-md-3">
        <h1>Details</h1>

        <div>
            <h4>ShoppingCart</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.KermesUser)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.KermesUser.Id)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Product)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Product.ProductName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProductCount)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProductCount)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.AddedDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.AddedDate)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.ShoppingCartId">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}